[user]
	name = Thach Chau
	email = github@thachchau.com
	signingkey = key::ssh-ed25519 AAAAC github@thachchau.com
[alias]
    st = status -s
    ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --date=short
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
    cm = commit -m
    cma = commit --amend
    co = checkout
    ru = remote update -p
    rb = rebase
[color]
    ui = true
[push]
    default = current
[credential]
    helper = osxkeychain
[core]
    editor = nvim
    pager = delta
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pack]
	writeReverseIndex = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
	program = /usr/local/MacGPG2/bin/gpg2
[gpg "ssh"]
	allowedsignersfile = /Users/thachck/.config/git/allowed_signers
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
