[user]
	name = thachck
	email = me@thachchau.com
[alias]
  st = status -s
  ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --date=short
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  cm = commit -m
  cma = commit --amend
  co = checkout
  ru = remote update --prune
[color]
	ui = true
[difftool]
  prompt = false
[mergetool]
  prompt = false
[push]
	default = current
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
  required = true
[core]
  editor = nvim
  pager = delta --line-numbers --side-by-side  
  excludesfile = /Users/thachchau/.gitignore_global
[pack]
	writeReverseIndex = true
