[nodejs]
disabled = true
[ruby]
disabled = true
[git_branch]
symbol = ''
format = "[$branch]($style) "
style = 'dimmed yellow'
[git_status]
disabled = true
[python]
disabled = true
[battery]
disabled = true
[docker_context]
disabled = true
